<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
    <ion-title>Details Page</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  
    <ion-item>
        <ion-label>Port</ion-label>
        <ionic-selectable
          [(ngModel)]="port"
          [items]="ports"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
 
</ion-content>

<ion-fab vertical="top" horizontal="end" id="fab-position">
    <ion-fab-button color="button"  >
      <ion-icon name="checkmark" (click)="saveData();"></ion-icon>
    </ion-fab-button>
  </ion-fab>