<ion-content color="primary" padding>
  
    <ion-img src="/assets/new_home.gif"></ion-img>
    
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating" color="primary">Email</ion-label>
              <ion-input type="text" formControlName="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  <ion-icon name="close"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
        
            <ion-item>
              <ion-label position="floating" color="primary">Password</ion-label>
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  <ion-icon name="close"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="!validations_form.valid"
              expand="block"
              >Login</ion-button
            >
            <ion-button
              class="bubbly-button"
              size="large"
              expand="block"
              color="danger"
              (click)="register()"
              >Register</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
